body{
    font-family: 'Average Sans', tahoma, arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EDE9DF;
    color: #3B3738;
}
html, body {
    height: 100%;
}
.footer, #push {
    height: 1em;
}
header, footer{
    background: #838a40;
    padding: 0;
    color: #000000;
}
header{
    z-index: 5;
    position: fixed;
    width: 100%;
    min-width: 80em;
    top: 0;
}
footer{
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
    width: 100%;
}
footer p{
    padding: 0;
    margin: 0;
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
    .logo{
        background: url(images/TinyLogo.png) no-repeat;
        display: inline-block;
        height: 61px;
        width: 158px;
    }
    .logocontainer{
        display: inline-block;
        height: 61px;
        width: 158px;
        padding-left: 2em;
        padding-top: .5em;
    }
    nav ul{
        padding-left: 1em;
    }
    /* Styles */
}
@media only screen and (min-device-width : 1025px) {
    .logo{
        background: url(images/SmallLogo.png) no-repeat;
        display: inline-block;
        height: 61px;
        width: 331px;
    }
    .logocontainer{
        display: inline-block;
        height: 61px;
        width: 331px;
        padding-left: 2em;
        padding-top: .5em;
    }
    /* Styles */
}
nav{
    display: inline-block;
    font-size: 1.5em;
    vertical-align: top;
}
nav ul{
    padding-top: 0;
    color: #f5f1e8;
    margin-top: .5em;
    margin-bottom: .5em;
}
nav li{
    list-style: none;
    line-height: 2em;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;

}


#content{
    display: block;
    overflow: auto;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 4em auto -1em;

}
h1{
    text-align: center;
    font-size: 3em;
    font-weight: 400;
}
h2{
    font-size: 1.5em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
h3{
    font-size: 1.25em;
    font-weight: 300;
    margin-top: 2em;
}
p{
    padding-top: 0em;
}
section{
    background-color: #fff;
    width: 50em;
    padding: 2em;
    margin: auto;
    margin-bottom: 2em;
}
.contact article{
    padding-bottom: 2em;
}


#faq h2:hover{
    color: #535a15;
    text-decoration: none;
    cursor: pointer;
}
a img{
    border:0;
}
a:link, a:active, a:visited{
    text-decoration: none;
    color: #000000;
}
.current a:link, .current a:active, .current a:visited{
    color: #535a15;
}
a:hover{
    text-decoration: none;
    color: #535a15;
}
a:active{
    text-decoration: none;
    color: #535a15;
}

dt:first-child{
    margin: 0 0 0 0;
}
dt{
    font-size: 2em;
    margin: 1em 0 0 0;
    padding: 0;
}
dd{
    padding: 1.5em 1em .5em .5em;
    display: inline-block;
    width: 22em;
    vertical-align: top;
    margin-left: 1em;
}


table{
    margin: 0 auto 0 auto;
}
td{
    padding: 0 1.5em 0 1.5em;
}
.register table{
    margin-top: 1.5em;
}
.register td{
    padding: 1em 1.5em 1em 1.5em;
}
.register p{
    text-align: center;
}

.closed{
    text-decoration: line-through;
    color: #808080;
}

.tourimage{
    height: 136px;
    width: 136px;
}
.tourp{
    display: inline-block;
    width: 38em;
    vertical-align: top;
    padding-left: .5em;
    padding-top: 1.5em;
}
.tour{
    padding: 1em 1em 1em 1em;
}


.registerbutton, .release, .schedule {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:1px solid #dcdcdc;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    color:#000000;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.registerbutton:hover, .release:hover, .schedule:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
     background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
     background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
     background-color:#dfdfdf;
}
.registerbutton:active, .release:active, .schedule:active {
  position:relative;
  top:1px;
}
.centeredbutton{
    text-align: center;
    margin-top: 2em;
}
.about .centeredbutton{
    margin-top: .5em;
}


.update{
    margin: 2em 0 .5em 0;
}
.updateDate{
    margin:0;
    color: #808080;
    font-size: .75em;
}


#title{
    margin-top: 2em;
}
#polaroids{
    display: block;
    margin: 2em auto 2em auto;
}


.collapsibleIcon{
    font-size: 2em;
    display: inline;
    vertical-align: sub;
}
article .collapsible_w {
    overflow: hidden;
    height: 0;
}
article .collapsible_w.transition {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}
#faq article, #faq p, #faq h2{
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 0 auto;
    max-width: 500px;
    _width: 500px;
    padding: 0 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.rslides {
    margin: 0 auto;
}
.rslides_container {
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}
.centered-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("images/themes.gif") no-repeat left top;
    margin-top: -45px;
}
.centered-btns_nav:active {
    opacity: 1.0;
}
.centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
.centered-btns_nav:focus{
    outline: none;
}
.centered-btns_tabs{
    margin-top: 10px;
    text-align: center;
}
.centered-btns_tabs li{
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}
.centered-btns_tabs a{
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0,0,0, .2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 9px;
    height: 9px;
}
.centered-btns_here a{
    background: #222;
    background: rgba(0,0,0, .8);
}